body{
    background-color:#D6EFD8;
    margin: auto;
}

body::-webkit-scrollbar{
    display: none;
}
.header{
    width: 100%;
    background-color: white;
    padding-left: 1vw;
    position: fixed;
    left: 0;
    top: 0;
}

.bold{
    font-weight: bold;
}

.light{
    font-weight: lighter;
}

.logo{
    float:left;
    color:#80AF81;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.buttons{
    float:left;
    margin-top: 1ch;
    margin-right: 7vw;
    color: black;
    font-weight: 100;
    font-family: 'wonderlight', sans-serif; /* Name your font family */
    src: url('wonder-light.ttf'); /* Locate the .ttf file within your directory*/
    font-size: large;
}

.buttons:hover{
    color:#80AF81;
    font-weight: bolder;

}

.secondarybuttons{
    float: right;
}

.main{
    margin: auto;
    margin-top: 7ch;
    display:grid;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-columns: auto auto auto;
    width: 85vw;

}

.start{
    margin-top: 20ch;
    width: 100%;
}

.slogan{
    margin-top: 20vh;
    color: black;
    font-size: 10ch;
    margin: auto;
    text-align: center;
    font-family: 'wonderlight', sans-serif; /* Name your font family */
    src: url('wonder-light.ttf'); /* Locate the .ttf file within your directory*/
    font-weight: bold;
}

.subtext{
    margin: auto;
    width: 80ch;
    margin-top: 3ch;
    font-size: large;
    text-align: center;
    font-weight: 600;
    font-family: 'wonderlight', sans-serif;
    src: url('wonder-light.ttf');
}

.item{
    aspect-ratio: 1/1;
    background-color:  white;
}

p{
    margin: 0px;
}

.homebtn{
    margin: auto;
    display: inline;
}

.productsbtn{
    font-size: x-large;
    font-family: 'wonderlight', sans-serif;
    src: url('wonder-light.ttf');
    display: inline-block;
}

.contactbtn{

    font-size: x-large;
    font-family: 'wonderlight', sans-serif;
    src: url('wonder-light.ttf');

}
