body{
    background-color:#D6EFD8;
    margin: auto;
}

body::-webkit-scrollbar{
    display: none;
}
.header{
    padding-left: 2rem;
    display: inline;
    border: solid 1px #80AF81;
    width: 100%;
    background-color: #D6EFD8;
    position: fixed;
    left: 0;
    top: 0;
}

.bold{
    font-weight: bold;
}

.light{
    font-weight: lighter;
}

.logo{
    float:left;
    color:#80AF81;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
}

.buttons{
    padding: 1rem;
    float:left;
    color: #80AF81;
    font-weight: 400;
    font-family: 'wonderlight', sans-serif; /* Name your font family */
    src: url('wonder-light.ttf'); /* Locate the .ttf file within your directory*/
    font-size: large;
    text-align: center;
    text-decoration: none;
    float: right;
}

.buttons:hover{
    background-color:#e3ba00;
    color: #D6EFD8;

}

.secondarybuttons{
    padding-right: 2rem;
    text-decoration: none;
    width: 40ch;
    float: right;
    list-style-type: none ;
    border: none;
    margin: auto;
}

.main{
    margin: auto;
    margin-top: 7ch;
    display:grid;
    grid-row-gap: 1ch;
    grid-column-gap: 1ch;
    grid-template-columns: auto auto auto;
    width: 85vw;

}

.start{
    margin-top: 20ch;
    width: 100%;
    text-align: center;
}

.slogan{
    max-width: 18ch;
    word-wrap: normal;
    margin-top: 20vh;
    color: black;
    font-size: 8ch;
    margin: auto;
    text-align: center;
    font-family: 'wonderlight', sans-serif; /* Name your font family */
    src: url('wonder-light.ttf'); /* Locate the .ttf file within your directory*/
    font-weight: bold;
}

.subtext{
    word-wrap: normal;
    margin: auto;
    width: 100%;
    margin-top: 3ch;
    font-size: large;
    text-align: center;
    font-weight: 400;
    font-family: 'wonderlight', sans-serif;
    src: url('wonder-light.ttf');
    max-width: 80ch;
}

.item{
    aspect-ratio: 1/1;
    background-color:  white;
}

p{
    margin: 0px;
}

.homebtn{
    margin: auto;
    display: inline-block;

}

.productsbtn{
    font-weight: light;
    width: 15ch;
    height: 6ch;
    font-size: large;
    font-family: 'wonderlight', sans-serif;
    src: url('wonder-light.ttf');
    background-color: #80AF81;
    border-radius: 1ch;
    border:none;
    margin: 1ch;
    color: #D6EFD8;
    letter-spacing: .1rem;
}

.productsbtn:hover{
    background-color: #e3ba00;
}

.contactbtn{
    letter-spacing: .1rem;
    border: solid 1px;
    font-weight: light;
    width: 25ch;
    height: 6ch;
    margin: 1ch;
    border-radius: 1ch;
    background-color: #D6EFD8;
    border-color: #80AF81;
    color: #80AF81;
    font-size: large;
    font-family: 'wonderlight', sans-serif;
    src: url('wonder-light.ttf');
}

.contactbtn:hover{
    border-color: #e3ba00;
    color: #e3ba00;
}

